*{
    padding: 2px;
}
.example-form{
    padding: 10px;
}
.div-alert{
    position:relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -20%);
    margin: 10px;
    text-align: center;
    width: 20em;
    background: rgba(255, 0, 0, 0.176);
    color: rgb(156, 3, 3);
    padding: 10px;
}
.div-alert p {
    font-size: 15px;
}

.title{
    width: 30%;
    padding-right: 2%;
}
.desc{
    width: 45%;
    padding-right: 2%;
}
.price{
    width: 20%;
}
.cant{
    width: 15%;
    padding-right: 2%;
}
.marca{
    width: 25%;
    padding-right: 2%;
}
.categoria{
    width: 25%;
    padding-right: 2%;
}
.cla{
    width: 28%;
}
.btn-prod{
    padding: 0 20px 0 20px;
}
table {
    width: 100%;
}
table thead{
    text-align: justify;
}
.edith{
    color: blue;
}
.delete{
    color: red;
}