<h2 class="title-g">Administración de productos</h2>

<form class="example-form" 
(ngSubmit)="addProducts()"
[formGroup]="productForm">

  <div class="div-alert" *ngIf="validators()">
    <img src="https://www.freeiconspng.com/thumbs/alert-icon/alert-icon-red-11.png" width="70" alt="">
    <p>ERROR: Debe llenar los campos requeridos</p>
  </div>
  <mat-form-field class="example-full-width title" appearance="fill">
    <mat-label>Título</mat-label>
    <input
      name="titulo"
      matInput
      placeholder="Ex. PC Gamer"
      formControlName="title"
    />
  </mat-form-field>
  <mat-form-field class="example-full-width desc" appearance="fill">
    <mat-label>Descripción</mat-label>
    <input
      matInput
      #message
      maxlength="256"
      placeholder="Ex. I need help with..."
      formControlName="description"
    />
    <mat-hint align="end">{{ message.value.length }} / 256</mat-hint>
  </mat-form-field>
  <mat-form-field
    appearance="fill"
    floatLabel="always"
    class="example-full-width price"
  >
    <mat-label>Precio</mat-label>
    <input 
    matInput 
    type="number" 
    class="example-right-align" 
    placeholder="0"
    formControlName="price" />
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <mat-form-field class="example-full-width cant" appearance="fill">
    <mat-label>Cantidad</mat-label>
    <input
      matInput
      #postalCode
      type="number"
      maxlength="5"
      placeholder="Ex. 94105"
      value="94043"
      formControlName="stock"
    />
    <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
  </mat-form-field>
  <mat-form-field class="example-full-width marca" appearance="fill">
    <mat-label>Marca</mat-label>
    <input 
    matInput 
    placeholder="Ex. Pizza"
    formControlName="brand" />
  </mat-form-field>
  <mat-form-field class="example-full-width categoria" appearance="fill">
    <mat-label>Categoría</mat-label>
    <input 
    matInput 
    placeholder="Ex. Pizza"
    formControlName="category" />
  </mat-form-field>
  <mat-form-field class="example-full-width cla" appearance="fill">
    <mat-label>Clasificación</mat-label>
    <input 
    matInput 
    type="number"
    placeholder="Ex. Pizza"
    formControlName="rating" />
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="btn-prod">
    Crear Producto
  </button>
</form>
<table>
  <thead>
    <tr>
      <th>Título</th>
      <th>Descrición</th>
      <th>Precio</th>
      <th>Cantidad</th>
      <th>Marca</th>
      <th>Categoría</th>
      <th>Clasificación</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Impresora</td>
      <td>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus
        veniam repellendus in ipsum at, laudantium deleniti doloremque accusamus
        suscipit laborum dolores ducimus eligendi saepe minus alias, adipisci
        quod? Quia, nam?
      </td>
      <td>RD$40.00</td>
      <td>58</td>
      <td>Edson</td>
      <td>Tecnología</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
